<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyong.model.dao.UserInfoMapper">

    <resultMap type="UserInfo" id="userInfoResultMap">
        <id property="userId" column="userid"/>
        <result property="userName" column="username"/>
        <result property="pwd" column="pwd"/>
    </resultMap>

    <!-- 查询学生，根据id -->
    <select id="getUserInfoById" parameterType="Integer" resultType="UserInfo" resultMap="userInfoResultMap">
        <![CDATA[
                SELECT * from userinfo
                    WHERE userId = #{userId}
            ]]>
    </select>

    <!-- 查询学生列表 -->
    <select id="getUserInfoAll"  resultType="UserInfo" resultMap="userInfoResultMap">
        <![CDATA[
                SELECT * from userinfo
            ]]>
    </select>

</mapper>